!!!
%html
  %head
    %title= @page_title
    %meta{:charset => 'UTF-8'}
    %meta{:name => 'description', :content => @meta_decription}

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body
    #main{role: 'main'}
      .container
        = yield
    %footer#footer
      .container
